.side-panel {
  width: 250px;
  padding: 10px 4px;
  border-right: 1px solid rgba(55, 53, 47, 0.09);
  height: 100vh;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
