.user-profile {
    display: flex;
    align-items: center;
    height: 28px;
    margin-bottom: 8px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: rgb(69, 67, 62);
  margin: 0 4px 0 6px;
}
