.input {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 0px 10px;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 53, 47);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
    rgba(61, 59, 53, 0.16) 0px 0px 0px 1px,
    rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
  outline: none;
}
